.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 3rem;
}

.title::before{
    content: '';
    position: absolute;
    width: 50%;
    border-bottom: 4px solid #c9a134;
    bottom: 0;
}

.body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.1);
}
