.itemsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3rem;
}

@media (max-width: 750px){
    .itemsContainer{
        justify-content: center;
    }
}