.title{
    text-align: center;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: #ccf390;
    font-family: sans-serif;
    gap: 2rem;
}

.app{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
    background-color: rgba(255, 255, 255, .3);
    flex-direction: column;
    padding: 2rem;
    width: 40%;
}

.mensagem{
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
}

.verde{
    color: darkgreen;
}

.vermelho{
    color: darkred;
}

@media (max-width:720px) {
    .app{
        width: 100%;
    }
}