
  
.body {
    font-family: sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #041216; }
  
  .header {
    padding: 3rem;
    background-color: #05151E;
    color: #F8F4E4;
    text-align: center;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    user-select: none; }
  
  .main {
    width: 100%; }
  
  .h3 {
    font-size: 2.5rem;}
  
  .ul {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    overflow: hidden;

    flex-direction: column; }
    @media (min-width: 720px) {
      .ul {
        flex-direction: row;
        justify-content: center; } }
  
  .li {
    max-width: 90%;
    margin: 2rem;
    background-color: #05151E;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    height: 250px; }
    @media (min-width: 720px) {
      .li {
        max-width: 32%; } }
    .li .a {
      height: 100%;
      width: 100%;
      font-size: 1.2rem;
      padding: 1rem;
      flex-direction: column;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #F8F4E4;
      transition: all 0.3s;
      row-gap: 1rem; }
      .li .a .div {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.3s; }
        .li .a .div .img {
          transition: all 0.3s;
          width: 100%;
          height: 100%; }
    .li:hover {
      background-color: #72838a22; }
      .li:hover a div img {
        transform: scale(1.3); }