.app{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body{
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .150);
}

.title{
    margin: 3%;
    position: relative;
    padding-bottom: 10px;
}

.title::before{
    content: '';
    height: 2px;
    width: 50%;
    border-bottom: solid 5px #1b84a1;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 30px;
    box-sizing: border-box;
}

.list{
    margin: 50px 100px;
}